Source: ros-kinetic-rqt-nav-view
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/rqt_nav_view
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-nav-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-python-qt-binding (>= 0.2.19), ros-kinetic-qt-gui, ros-kinetic-rospy, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-py, ros-kinetic-rqt-py-common, ros-kinetic-tf
Description: rqt_nav_view provides a gui for viewing navigation maps and paths.
